.banner {
  position: relative;
  min-height: 100vh;
  background: 
    /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../assets/images/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.text-box {
  align-items: center;
  text-align: center;
}

.banner h1 {
  font-size: 4em;
  color: #fff;
  font-weight: 500;
  line-height: 1.2em;
  text-shadow: 2px 2px 2px #000;
  padding-top: 100px;
}

.banner h4 {
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.banner-btn {
  margin-top: 40px;
  padding: 20px 50px;
}

.banner .social .content {
  justify-content: center;
}
.banner .social-box {
  font-size: inherit;
  height: 30px;
  width: 30px;
  margin: 30px;
}
.banner .social-box:hover {
  // height: 30px;
  // width: 30px;
}
.banner .social-icon {
  font-size: 30px;
}

@media (max-width: 991px) {
  .banner {
    background-size: cover;
    background-attachment: local;
    background-position: bottom;
  }
  .banner h1 {
    font-size: 3.4em;
    padding-top: 0;
  }
  .banner-btn {
    margin-top: 30px;
    padding: 10px 30px;
  }
}
