.contact {
  background: var(--blue-color);
  min-height: 40vw;
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field {
  margin: 20px;
}
.button {
  padding: 6px 86px;
}
#message {
  height: 100px;
  width: 75%;
}
#myfile {
  color: white;
}
.box {
  margin: 30px 0;
  display: flex;
}
.formBox {
  min-width: 60%;
}
.formBox form {
  display: flex;
  flex-direction: column;
}
.formBox form h3,
.contactInfo h3 {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
}
input {
  width: 75%;
  height: 36px;
}
// .formBox form input,
// .formBox form textarea {
//   margin-bottom: 20px;
//   padding: 15px;
//   font-size: 26px;
//   background: transparent;
//   border: none;
//   outline: none;
//   background: rgb(214, 214, 214);
//   color: white;
//   resize: none;
// }
.formBox form textarea {
  min-height: 200px;
}
.formBox form input::placeholder,
.formBox form textarea::placeholder {
  color: #999;
}
.formBox form input[type="submit"] {
  max-width: 100px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../assets/images/American-flag-2a1.jpg);
}
.contactInfo {
  min-width: 40%;
}
.contactInfoBox {
  position: relative;
  display: flex;
  justify-content: center;
}
.contactInfoBox .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.icon {
  padding-top: 4px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54px;
}
.text h2 {
  font-size: 28px;
}
.contactInfoBox .box .text h3 {
  font-weight: 500;
  color: #091e2f;
  margin-bottom: 0;
  text-align: left;
  color: white;
  display: flex;
}
p {
  text-align: left !important;
  font-size: 12px;
  text-shadow: 2px 2px 2px #000;
}
.text a {
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px 2px #000;
  display: flex;
  padding: 0 10px;
}

.text {
  display: flex;
}
@media (max-width: 991px) {
  .text a {
    font-size: 18px;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}


}
