.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/images/American-flag-2a1.jpg);
  background-size: cover;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.copyright {
  background: #000;
  color: white;
  text-align: center;
  padding: 10px;
  height: 40px;
}
.footer .social .content {
  justify-content: center;
}
.footer .social-box {
  font-size: inherit;
  height: 30px;
  width: 30px;
}
.footer .social-icon {
  font-size: 30px;
}
@media (max-width: 991px) {
  p {
    font-size: 12px;
  }
}
