   button {
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url(../../assets/images/American-flag-2a.png);
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            font-weight: 500;
            cursor: pointer;
            border-radius: 10px;
            border: 5px solid white;
            box-shadow: -6px 6px 25px #888888;
          }
          